<!DOCTYPE html>
<!--
    Created by kevin rodriguez
    Date: 09/12/2022
    Class: NACT-170
     -->
<html lang="en">

    <head>
        <!-- Meta tags -->
        <title>Foward Fitness Club</title>
        <meta charset="UTF-8">
        <style>
            body {
                background-color: red;
            }
            main {
                font: bold;
                background-color: aqua;
            }
        </style>
    </head>

    <body>
        <header>
            <!--Use the header area for the website name and logo-->

        </header>
        <nav>
            <!--Use the nav area for hyperlinks to other pages-->

        </nav>
        <main>
            <!--Use the main area for the main content of the page-->
            <p>
                welcome to foward fitness club, our mission is to help our clients meet their fitness and nutrition goals.

            </p>
            <p>
                we offer a variety of services to help you reach your goals, including personal training, group classes, and nutrition coaching.
            </p>
            <p>
                we also offer a variety of classes to help you reach your goals, including yoga, pilates, and MMA training.
            </p>
            <p>
                towards this goal we provide a FREE, one week trial membership to all new clients.
                with this free membership you will have access to all of our classes and equipment.
                contact us today to get started!
            </p>
        </main>
        <footer>
            <!--Use the footer area for footer content-->
            copyright &copy; 2022 Forward Fitness Club, all rights reserved

        </footer>
    </body>

</html>